h1{
    font-family: fantasy;
    font-size: 500px;
    background-color: aqua;
}

ul, li, a{
    display: flex ;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin-left: 50px;
    font-family: fantasy; 
    font-size: larger;
    text-decoration: none;
    color: grey;
}

.navbar{
    color: aliceblue;
}

.titre {
    display: flex;
    justify-content: space-between;
}

